.restaurantsContainer {
    display: flex;
    margin-top: 80px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    color: var(--primaryitemcolor);
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 55px;
    height: 5vh;
    width: 75%;
    background-color: var(--primarybackground);
    border-radius: 15px;
    box-shadow: var(--borbordercolor) 0px 0px 10px;
    backdrop-filter: blur(15px);
}

.sliderCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: var(--primarybackground);
    border-radius: 50%;
    box-shadow: var(--primaryitemcolor) 0px 0px 2px;
    color: var(--primaryitemcolor);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.sliderCircle i {
    position: absolute;
    font-size: 20px;
}

.sliderCircle span {
    font-size: 14px; 
    margin-top: 80px; 
}

.sliderCircle {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.2s, background-color 0.3s;
}

.sliderCircle:hover {
    transform: scale(1.1);
}

.sliderCircle.active {
    background-color: #ff9800; 
    color: #fff;
}
