.forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 100px;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 90%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .inputForgotPassword {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttonForgotPassword {
    margin-right: 70px;
  }

  .textErrorM {
    margin-left: 15px;
  }